@import 'tailwindcss';

.animate_marquee {
  animation: marquee 25s linear infinite;
}
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.mySwiper {
  padding: 20px 0;
}
.mySwiper .SwiperSlide {
  height: auto;
}

.mySwiper .swiper-pre-button::after,
.mySwiper .swiper-next-button::after {
  display: none;
}

.swiper-pre-button.swiper-button-disabled,
.swiper-next-button.swiper-button-disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
